<div>
  <h4>Insurance premium</h4>
  <div>348.80$</div>
  <div>For a property valued at 96$, your one time insurance premium is <span>348.80</span>.</div>
  <div>To complete your subscription request online, fill the form below or call us at <span>514-748-4873</span> to
    complete your request over the phone.
  </div>
</div>
<div class="c-homeowner__result__form">
  <fieldset>
    <h3 class="c-homeowner__result__form__title">Transaction information</h3>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Language :*</div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[language]" type="checkbox" value="French">
          <span>French</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[language]" type="checkbox" value="English">
        <span>English</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row c-homeowner__result__form__row__column">
      <div class="c-homeowner__result__form__label">Homeowner(s): Name(s):*</div>
      <div class="c-homeowner__form__owners">
        <div class="c-homeowner__form__owners__owner">
          <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_homeowner_name_1" name="homeowner_insurance[homeowner_name_1]" required="required" type="text">
        </div>
        <div class="c-homeowner__form__owners__owner">
          <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_homeowner_name_2" name="homeowner_insurance[homeowner_name_2]" placeholder="2nd Homeowner Name" type="text">
        </div>
        <div class="c-homeowner__form__owners__owner">
          <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_homeowner_name_3" name="homeowner_insurance[homeowner_name_3]" placeholder="3rd Homeowner Name" type="text">
        </div>
      </div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__subtitle">Select / Choose:</div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Type of property:*</div>
      <div>
        <select class="c-homeowner__form__select c-homeowner__form__select--higher" id="homeowner_insurance_type_of_property" name="homeowner_insurance[type_of_property]">
          <option value="">(Click here to choose)</option>
          <option value="1">Single-family dwelling</option>
          <option value="2">Condominium</option>
          <option value="3">Undivided&nbsp;co-ownership</option>
          <option value="4">Duplex</option>
          <option value="5">Triplex</option>
          <option value="6">Quadruplex</option>
          <option value="7">5 logis</option>
          <option value="8">6 logis</option>
          <option value="9">Vacant property</option>
        </select>
      </div>
    </div>

    <div>
      <div>
        <label>
          <span>Are you presently the owner of that property ?</span>
          <input name="homeowner_insurance[existing_homeowner]" type="hidden" value="No"><input id="homeowner_insurance_existing_homeowner" name="homeowner_insurance[existing_homeowner]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label></div>
    </div>

    <div>
      <div>Purchase date:*</div>
      <input name="homeowner_insurance[purchase_date]" required="required" type="text">
    </div>
    <div>
      You must already own your property.
    </div>

    <div>

      <div>Property value (municipal assessment):</div>
      <b>96 $</b>
    </div>
  </fieldset>
</div>

<div class="c-homeowner__result__form">
  <fieldset>
    <h3 class="c-homeowner__result__form__title">Property legal description</h3>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__subtitle">Indicate (Mandatory fields):*</div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Lot number(s):*</div>
      <input class="c-homeowner__form__input c-homeowner__form__input--small c-homeowner__form__input--no-margin" id="homeowner_insurance_lot_numbers" name="homeowner_insurance[lot_numbers]" required="required" type="text">
    </div>

    <div class="c-homeowner__result__form__row">
      (You can find this lot number on your tax account. This is not the ID number but the lot number, cadaster
      number or legal description).
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Property Address:*</div>
      <div class="c-homeowner__result__form__grow">
        <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_property_address" name="homeowner_insurance[property_address]" required="required" type="text" value="Ipsum praesentium a">
      </div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">City*</div>
      <div class="c-homeowner__result__form__grow">
        <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_property_city" name="homeowner_insurance[property_city]" required="required" type="text" value="Ad aut magnam dolore">
      </div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Postal code*</div>
      <input class="c-homeowner__form__input c-homeowner__form__input--small c-homeowner__form__input--no-margin" id="homeowner_insurance_property_zip" name="homeowner_insurance[property_zip]" required="required" type="text" value="55290">
    </div>
  </fieldset>
</div>

<div class="c-homeowner__result__form">
  <fieldset>
    <h3 class="c-homeowner__result__form__title">Information regarding the property</h3>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__subtitle">Select:</div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Is the Insured Property bound by water (lac, stream, river,
        etc.)?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[bound_by_water]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[bound_by_water]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Is the Insured Property on Municipal Water and Municipal
        Sewer?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[on_municipal_water]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[on_municipal_water]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Has a title insurance already been issued for the insured
        property according to the client ?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[title_insurance_already_issued]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[title_insurance_already_issued]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Has a title insurance been denied for the insured property, to
        the best of the client's knowledge?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[denied_for_insurance]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[denied_for_insurance]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

  </fieldset>
</div>

<div class="c-homeowner__result__form">
  <fieldset>
    <h3 class="c-homeowner__result__form__title">Information regarding the property</h3>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__subtitle">Select:</div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Is the Insured Property bound by water (lac, stream, river,
        etc.)?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[bound_by_water]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[bound_by_water]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Is the Insured Property on Municipal Water and Municipal
        Sewer?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[on_municipal_water]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[on_municipal_water]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Has a title insurance already been issued for the insured
        property according to the client ?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[title_insurance_already_issued]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[title_insurance_already_issued]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Has a title insurance been denied for the insured property, to
        the best of the client's knowledge?*
      </div>
      <div class="c-homeowner__result__form__check">
        <label>
          <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[denied_for_insurance]" type="checkbox" value="Yes">
          <span>Yes</span>
        </label> <label>
        <input class="js-checkbox-exclusive c-homeowner__form__checkbox" name="homeowner_insurance[denied_for_insurance]" type="checkbox" value="No">
        <span>No</span>
      </label></div>
    </div>

  </fieldset>
</div>

<div class="c-homeowner__result__form">
  <fieldset>
    <h3 class="c-homeowner__result__form__title">Notes</h3>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__grow">
        <textarea class="c-homeowner__form__textarea c-homeowner__form__input--no-margin" id="homeowner_insurance_notes" name="homeowner_insurance[notes]" rows="3"></textarea>
      </div>
    </div>

    <div class="c-homeowner__result__form__row c-homeowner__result__form__row--margin--top">
      <div class="c-homeowner__result__form__label">Referral agent name</div>
      <div class="c-homeowner__result__form__grow">
        <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_referral_agent_name" name="homeowner_insurance[referral_agent_name]" type="text">
      </div>
    </div>

    <div class="c-homeowner__result__form__row">
      <div class="c-homeowner__result__form__label">Referral agent email</div>
      <div class="c-homeowner__result__form__grow">
        <input class="c-homeowner__form__input c-homeowner__form__input--no-margin" id="homeowner_insurance_referral_agent_email" name="homeowner_insurance[referral_agent_email]" type="text">
      </div>
    </div>

    <div class="c-homeowner__result__form__row c-homeowner__result__form__row--resp-col">

      <div class="c-homeowner__result__form__row__spacing">
        <input class="js-form-multiaction-submit c-button c-button--tertiary" data-formaction="/en/homeowner-title-insurance?pending_callback=true" name="commit" type="submit" value="Request a callback">
      </div>
    </div>
    <div class="c-homeowner__result__form__row c-homeowner__result__form__row__column">
      <div> Your request for Title Insurance will be forwarded to our underwriting department and an insurance
        broker will contact you within 24 to 48 working hours.
      </div>
      <div>For any question, please call <strong>514-74 TITRE (84873)</strong> or email at
        <strong><a href="mailto:assurtitre@jgfortin.com">assurtitre@jgfortin.com</a></strong>.<br>Please note that
        submitting this form does not mean that you are insured.
      </div>
    </div>

  </fieldset>
</div>