<h1>Editing homeowner insurance</h1>

<%= render "form", homeowner_insurance: @homeowner_insurance %>

<br>

<div>
  <%= link_to "Show this homeowner insurance", @homeowner_insurance %> |
  <%= link_to "Back to homeowner insurances", homeowner_insurances_path %>
</div>
